<!-- 矩阵题 -->
<form class="form-horizontal form-horizontal-condensed" >
		<div>
			<span style="padding-left:6px;font-weight: bold; font-size: 14px; line-height: 27px; font-family: "微软雅黑","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;">题目标题</span>
			<span style="margin-right:10px;float:right;"><input type="checkbox" name="dataPk" ng-true-value="true" ng-false-value="false" ng-model="form.SURVEY_TITLE_QUE" /> 必答题</span>
			<span style="float:right;margin-right:10px;" class="pictxt"><a style="font-size:12px; text-decoration: none;" href="" ng-click="showEditor();"><span class="glyphicon glyphicon-picture"></span> 图文信息</a></span>
			<span style="float:right;margin-right:10px; display:none;" class="txt"><a style="font-size:12px; text-decoration: none;" href="" ng-click="hideEditor();"><span class="glyphicon glyphicon-text-width"></span> 文本信息</a></span>
		</div>
		<!-- UEditor富文本框 -->
		<div id="titlename" name="titlename" type="text/plain" style="width:560px;height:112px;" hidden="yes"></div>
		<div class="txtFiled"><textarea style="width:560px;height:60px;border:1px solid #d4d4d4;border-radius:4px;overflow: hidden;"></textarea></div>
		
		<div class="panel panel-info" style="margin-top:15px;margin-right:8px;border:1px solid #d4d4d4;">
		 	<div  style="float:left;width:50%;">
			 	<table class="table table-condensed">
					<thead>
						<tr>
							<th>行标题</th>			
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="vertical-align: middle;border-top: 0px;">
								<textarea ng-model="form.LINE_HEADING" ng-change="txtChange();" wrap="soft" rows="7" class="inputtext" tabindex="1" title="相当于每个小题的标题" style="width:240px; height: 142px; overflow: auto; padding: 2px;"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="margin-top:-20px;">
					<span style="padding-left: 5px;"><a href="" ng-click="addLineHeading();">插入行标题</a></span>
<!-- 					<span style="padding-left: 10px;"><input type="checkbox" ng-model="form.VERTICAL_CHOICE" ng-checked="form.VERTICAL_CHOICE" />竖项选择</span> -->
				</div>
		 	</div>
		 	<div style="float:left;width:50%;">
			 	<table class="table table-condensed">
				 	<thead>
						<tr>
							<th>选项文字</th>
							<th>操作</th>				
						</tr>
					</thead>
		         	<tbody>
			   			<tr ng-repeat="content in contentList | filter:{IS_DELETE:'0'}" on-finish-render-filters>
			   				<td style="vertical-align: middle;border-top: 0px;">
							    <input type="text" class="form-control"  ng-model="content.SURVEY_CONTENT_CHOOSE">
							</td>
							<td style="vertical-align: middle;border-top: 0px;">	
								<a  ng-click="addContent();"><img src="assets/img/designqpic2.png" title="新增选项"  /></a>
								<a  ng-click="removeContent(content);"><img src="assets/img/designqpic.png" title="删除选项" /></a>
								<a  ng-click="updata($index)"><img src="assets/img/designqpic3.png" title="上移一行"  /></a>
								<a  ng-click="downdata($index)"><img src="assets/img/designqpic4.png" title="下移一行" /></a>
							</td>
			   			</tr>
		         	</tbody>
	      	    </table>
      	    </div>
	   </div>
 </form>