<table class="navbar-fixed-top" 
style="width:100%;height: 50px;background-color: #337ab7;color: #FFFFFF;">
  <tr>
    <td style="text-align: left;padding-left: 10px;padding-top: 4px;width: 33%;" valign="middle" ng-click="goBack()">
    	<span style="color: #fff;font-size: 20px;" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 
    </td>
    
    <td style="text-align: center;width:40%;padding-top: 14px;font-size: 15px;font-weight: bold;" valign="top" >{{currentMenu.MENU_NAME}}</td>
    
    <td style="text-align: right;padding-right: 10px;padding-top: 4px;" valign="middle" ng-click="goHome()">
    	<span style="color: #fff;font-size: 18px;" class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </td>
  </tr>
</table>

<div style="height: 49px;"></div>

