
<style type="text/css">
  .table-bordered tr td {
     border: 1px solid;
  }
</style>
<div style="float: right;margin-top: 7px; margin-right: 60px;">
	<button type="button" ng-click="goBack()" class="btn btn-warning"><span class="glyphicon glyphicon-share-alt"></span> 返回</button>
</div>
<div class="container" style="margin-top:20px; width: 950px;">
	<div style="text-align: center;">
		<span style="font-size: 20px; color: blue;" ng-model="form.SURVEY_QUEST_ID">{{questionnaire.SURVEY_QUEST_NAME}}</label>
	</div>
	<div style="float:left;padding-top:10px;">
		<span style="float:left;"  ng-bind-html="questionnaire.SURVEY_QUEST_REMARK | trustHtml"></span>
	</div>
	<form class="form-inline" role="form" style="padding-top:40px;">
		<div class="form-group">
			<label class="control-label">学校名称:</label>
			<select class="form-control" ng-model="form.FK_UNIT" ng-change="getGrade();"
		 		ng-options="dic.UNIT_PK as dic.UNIT_ABBREVIATION for dic in units ">
				<option value="">--请选择--</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">&nbsp;年级:</label>
		 	<select class="form-control" ng-model="form.STUDENT_NJID" ng-change="getClass();"
		  		ng-options="grade.GRADE_PK as grade.GRADE_NAME for grade in gradeData">
			 	<option value="">--请选择--</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">&nbsp;班级:</label>
		   	<select class="form-control" ng-model="form.STUDENT_BJID" ng-change="getTeachers();"
		   		ng-options="class.CLASS_PK as class.CLASS_NAME for class in classList">
		 		<option value="">--请选择--</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label">&nbsp;评比人:</label>
			<select class="form-control" ng-model="form.FK_TEACHER" 
		   		ng-options="teacher.FK_TEACHER as teacher.TEACHER_NAME for teacher in teacherList">
		 		<option value="">--请选择--</option>
			</select>
			<button type="button" class="btn btn-info" ng-click="select();"><span class="glyphicon glyphicon-search"></span> 查询</span></button>
		</div>
	</form>
</div>
<form class="form-horizontal form-horizontal-condensed">
    <div class="container" style="margin-top:0px; width: 950px;">
       <table class="table table-hover" style="margin-top:20px;" >
         <tbody ng-repeat="title in titleList">
       	     <tr ng-switch on="title.SURVEY_TYPE_ID">
       	        <!-- 1 单选题 -->
   				<td ng-switch-when="1" ng-switch on="title.CHECKED">
                   <span style="float:left;color: blue;" ng-switch-when="true">*[单选题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[单选题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 		  
   				   <table class="table .table-bordered">
   				       <tr style="font-size: 18px; font-weight: bold;">
   				       	   <td>选项</td>
   				       	   <td>小计</td>
   				       	   <td>比例</td>
   				       </tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td><input type="radio" name="titlename"> {{row.SURVEY_CONTENT_CHOOSE}}
                               <span ng-if="row.SURVEY_CONTENT_IMG!=null">
                                   <img style="width: {{row.IMAGE_WIDTH}}px;height:{{row.IMAGE_HEIGHT}}px;" src="http://rescenter.sjedu.cn/ResCenter/upload/Preview_getViewByFileLink_data.json?FILELINKPK={{row.SURVEY_CONTENT_IMG}}">
                               </span>
                           </td>    
                           <td>{{row.OPTION_NUM}}</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0%</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM | calculate:title.ANSWER_NUM}}%</td>                   
                       </tr>  
                       <tr  style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>
                   </table>                
   				</td>	
   			    <!--2 多选题 -->
   				<td ng-switch-when="2" ng-switch on="title.CHECKED">
                   <span style="float:left;color: blue;" ng-switch-when="true">*[多选题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[多选题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 	  
   				   <table class="table table-striped">
   				       <tr style="font-size: 18px; font-weight: bold;">
   				       	   <td>选项</td>
   				       	   <td>小计</td>
   				       	   <td>比例</td>
   				       </tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td><input type="checkbox"> {{row.SURVEY_CONTENT_CHOOSE}}
                               <span ng-if="row.SURVEY_CONTENT_IMG!=null">
                                   <img style="width: {{row.IMAGE_WIDTH}}px;height:{{row.IMAGE_HEIGHT}}px;" src="http://rescenter.sjedu.cn/ResCenter/upload/Preview_getViewByFileLink_data.json?FILELINKPK={{row.SURVEY_CONTENT_IMG}}">
                               </span>
                           </td>
                           <td>{{row.OPTION_NUM}}</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0%</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM | calculate:title.ANSWER_NUM}}%</td>
                       </tr>  
                       <tr  style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>
                 </table>                
   				</td>	
   			   <!--3 填空题 -->
   			   <td ng-switch-when="3" ng-switch on="title.CHECKED">
   				   <span style="float:left;color: blue;" ng-switch-when="true">*[填空题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[填空题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 	  
   				   <table class="table table-striped">
   				       <tr style="font-size: 18px; font-weight: bold;">
   				       	   <td>填空</td>
   				       	   <td>详情</td>
   				       	   <td></td>
   				       </tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td>填空{{$index+1}}</td>
                           <td><a  ng-click="details(row)">详情</a></td>	
                           <td></td>
                       </tr>  
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>
                  </table>                
   				</td>
   				<!--4 判断题 -->
   				<td ng-switch-when="4" ng-switch on="title.CHECKED">		
   				   <span style="float:left;color: blue;" ng-switch-when="true">*[判断题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[判断题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span>		  
   				   <table class="table table-striped">
   				   	   <tr style="font-size: 18px; font-weight: bold;">
   				   	   	   <td>选项</td>
   				   	   	   <td>小计</td>
   				   	   	   <td>比例</td>
   				   	   </tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td><input type="radio"  value="{{row.SURVEY_CONTENT_ID}}" name="{{title.SURVEY_TITLE_ID}}"> {{row.SURVEY_CONTENT_CHOOSE}}
                               <span ng-if="row.SURVEY_CONTENT_IMG!=null">
                                   <img style="width: {{row.IMAGE_WIDTH}}px;height:{{row.IMAGE_HEIGHT}}px;" src="http://rescenter.sjedu.cn/ResCenter/upload/Preview_getViewByFileLink_data.json?FILELINKPK={{row.SURVEY_CONTENT_IMG}}">
                               </span>
                           </td>
                           <td>{{row.OPTION_NUM}}</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0%</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM | calculate:title.ANSWER_NUM}}%</td>
                       </tr>
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>  
                 </table>                
   			   </td> 
   			   <!--5 投票单选题 -->
   			   <td ng-switch-when="5" ng-switch on="title.CHECKED">		
   				   <span style="float:left;color: blue;" ng-switch-when="true">*[投票单选题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[投票单选题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 		  
   				   <table class="table table-striped">
   				       <tr style="font-size: 18px; font-weight: bold;"><td>选项</td><td>小计</td><td>比例</td></tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td><input type="radio"  value="{{row.SURVEY_CONTENT_ID}}" name="{{title.SURVEY_TITLE_ID}}"> {{row.SURVEY_CONTENT_CHOOSE}}
                               <span ng-if="row.SURVEY_CONTENT_IMG!=null">
                                   <img style="width: {{row.IMAGE_WIDTH}}px;height:{{row.IMAGE_HEIGHT}}px;" src="http://rescenter.sjedu.cn/ResCenter/upload/Preview_getViewByFileLink_data.json?FILELINKPK={{row.SURVEY_CONTENT_IMG}}">
                               </span>
                           </td>
                           <td>{{row.OPTION_NUM}}</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0%</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM | calculate:title.ANSWER_NUM}}%</td>
                       </tr>
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>  
                 </table>                
   			   </td> 
   			   <!--6 投票多选题 -->
   			   <td ng-switch-when="6" ng-switch on="title.CHECKED">		
   				   <span style="float:left;color: blue;" ng-switch-when="true">*[投票多选题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[投票多选题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>    
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 			  
   				   <table class="table table-striped">
   				   	   <tr style="font-size: 18px; font-weight: bold;">
   				 	 	   <td>选项</td>
   				 	 	   <td>小计</td>
   				 	 	   <td>比例</td>
   				 	   </tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td><input type="checkbox"  value="{{row.SURVEY_CONTENT_ID}}" name="{{title.SURVEY_TITLE_ID}}"> {{row.SURVEY_CONTENT_CHOOSE}}
                               <span ng-if="row.SURVEY_CONTENT_IMG!=null">
                                   <img style="width: {{row.IMAGE_WIDTH}}px;height:{{row.IMAGE_HEIGHT}}px;" src="http://rescenter.sjedu.cn/ResCenter/upload/Preview_getViewByFileLink_data.json?FILELINKPK={{row.SURVEY_CONTENT_IMG}}">
                               </span>
                           </td>
                           <td>{{row.OPTION_NUM}}</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0%</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM | calculate:title.ANSWER_NUM}}%</td>
                       </tr>
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>  
                  </table>                
   			   </td>
   			    <!--7 评分单选题 -->
   			   <td ng-switch-when="7" ng-switch on="title.CHECKED">		
   				   <span style="float:left;color: blue;" ng-switch-when="true">*[评分单选题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[评分单选题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span>   			  
   				   <table class="table table-striped">
   				       <tr style="font-size: 18px; font-weight: bold;">
   				       	   <td>选项</td>
   				       	   <td>小计</td>
   				       	   <td>比例</td>
   				       	   <td>平均分</td>
   				       	   <td>总分</td>
   				       </tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td><input type="radio"  value="{{row.SURVEY_CONTENT_ID}}" name="{{title.SURVEY_TITLE_ID}}"> {{row.SURVEY_CONTENT_CHOOSE}}
                             <span style="color: orange; margin-left:  15px;">(分值：{{row.SURVEY_CONTENT_VALUE}})</span>
                             <span ng-if="row.SURVEY_CONTENT_IMG!=null">
                                   <img style="width: {{row.IMAGE_WIDTH}}px;height:{{row.IMAGE_HEIGHT}}px;" src="http://rescenter.sjedu.cn/ResCenter/upload/Preview_getViewByFileLink_data.json?FILELINKPK={{row.SURVEY_CONTENT_IMG}}">
                             </span>
                           </td>
                           <td>{{row.OPTION_NUM}}</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0%</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM | calculate:title.ANSWER_NUM}}%</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0分</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM * row.SURVEY_CONTENT_VALUE / 100 | calculate:title.ANSWER_NUM}}分</td>
                           <td>{{row.OPTION_NUM*row.SURVEY_CONTENT_VALUE}}分</td>
                       </tr>
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>  
                  </table>                
   			   </td>
   			   <!--8 评分多选题 -->
   			   <td ng-switch-when="8" ng-switch on="title.CHECKED">		
   				   <span style="float:left;color: blue;" ng-switch-when="true">*[评分多选题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[评分多选题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 				  
   				   <table class="table table-striped">
   				       <tr style="font-size: 18px; font-weight: bold;">
   				       	   <td>选项</td>
   				       	   <td>小计</td>
   				       	   <td>比例</td>
   				       	   <td>平均分</td>
   				       	   <td>总分</td>
   				       </tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td><input type="checkbox"  value="{{row.SURVEY_CONTENT_ID}}" name="{{title.SURVEY_TITLE_ID}}"> {{row.SURVEY_CONTENT_CHOOSE}}
                               <span style="color: orange; margin-left:  15px;">(分值：{{row.SURVEY_CONTENT_VALUE}})</span>
                               <span ng-if="row.SURVEY_CONTENT_IMG!=null">
                                   <img style="width: {{row.IMAGE_WIDTH}}px;height:{{row.IMAGE_HEIGHT}}px;" src="http://rescenter.sjedu.cn/ResCenter/upload/Preview_getViewByFileLink_data.json?FILELINKPK={{row.SURVEY_CONTENT_IMG}}">
                               </span>
                           </td>
                           <td>{{row.OPTION_NUM}}</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0%</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM | calculate:title.ANSWER_NUM}}%</td>
                           <td ng-if='title.ANSWER_NUM == 0'>0分</td>
                           <td ng-if='title.ANSWER_NUM != 0'>{{row.OPTION_NUM * row.SURVEY_CONTENT_VALUE / 100 | calculate:title.ANSWER_NUM}}分</td>
                           <td>{{row.OPTION_NUM*row.SURVEY_CONTENT_VALUE}}分</td>
                       </tr>
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>  
                  </table>                
   			   </td>
   			   <!--9 主观题 -->
   			   <td ng-switch-when="9" ng-switch on="title.CHECKED">
   				  <span style="float:left;color: blue;" ng-switch-when="true">*[主观题]&nbsp;</span>
	   			  <span style="float:left;color: blue;" ng-switch-when="false">[主观题]&nbsp;</span>	
	   			  <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			  <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 		  
   				  <table class="table table-striped">
   				   	   <tr style="font-size: 18px; font-weight: bold;">
   				   	   	   <td>文本</td>
   				   	   	   <td>详情</td>
   				   	   	   <td></td>
   				   	   </tr>
                       <tr ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                      	   <td>文本{{$index+1}}</td>
                           <td><a  ng-click="detailsSubjective(row)">详情</a></td>	
                           <td></td>
                       </tr>  
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>
                   </table>                
   				</td> 
   				<!-- 10.矩阵单选题 -->
   			    <td ng-switch-when="10" ng-switch on="title.CHECKED">		
   				   <span style="float:left;color: blue;" ng-switch-when="true">*[矩阵单选题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[矩阵单选题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 				  
   				   <table class="table table-striped">
   				       <tr style="font-size: 18px; font-weight: bold;">
	   				       <td></td>
	   				       <td ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">{{row.SURVEY_CONTENT_CHOOSE}}</td>
   				       </tr>
                       <tr ng-repeat="heading in headingList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td style="font-size: 18px; font-weight: bold;">{{heading.LINE_HEADING}}</td>
                           <td ng-repeat="data in dataList | filter : {SURVEY_MATRIX_ID:heading.SURVEY_MATRIX_ID} | unique : 'SURVEY_CONTENT_ID' | orderBy:'SURVEY_QUEST_ORDER'">
                           		<span ng-if='title.ANSWER_NUM == 0'></span>
                           		<span ng-if='title.ANSWER_NUM != 0'>{{data.OPTION_NUM | calculate:title.ANSWER_NUM}}%  </span>
                           </td>
                       </tr>
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>  
                   </table>                
   			    </td>
   			    <!-- 11.矩阵多选题 -->
   			    <td ng-switch-when="11" ng-switch on="title.CHECKED">		
   				   <span style="float:left;color: blue;" ng-switch-when="true">*[矩阵多选题]&nbsp;</span>
	   			   <span style="float:left;color: blue;" ng-switch-when="false">[矩阵多选题]&nbsp;</span>	
	   			   <span style="float: left; font-weight: bold;">{{$index+1}}.&nbsp;</span>  	 
	   			   <span ng-bind-html="title.SURVEY_TITLE_NAME | trustHtml"></span> 				  
   				   <table class="table table-striped">
   				       <tr style="font-size: 18px; font-weight: bold;">
	   				       <td></td>
	   				       <td ng-repeat="row in optionList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">{{row.SURVEY_CONTENT_CHOOSE}}</td>
   				       </tr>
                       <tr ng-repeat="heading in headingList | filter : {SURVEY_TITLE_ID:title.SURVEY_TITLE_ID}">
                           <td style="font-size: 18px; font-weight: bold;">{{heading.LINE_HEADING}}</td>
                           <td ng-repeat="data in dataList | filter : {SURVEY_MATRIX_ID:heading.SURVEY_MATRIX_ID} | unique : 'SURVEY_CONTENT_ID' | orderBy:'SURVEY_QUEST_ORDER'">
                                <span ng-if='title.ANSWER_NUM == 0'></span>
                           		<span ng-if='title.ANSWER_NUM != 0'>{{data.OPTION_NUM | calculate:title.ANSWER_NUM}}% </span>
                           </td>
                       </tr>
                       <tr style="background: infobackground;">
                       	   <td colspan="100">
                       	   		<span style="margin-right:20px;float:right">本题有效填写人次:<span style="color:blue;">{{title.ANSWER_NUM}}</span></span>
                       	   </td>
                       </tr>  
                   </table>                
   			    </td>		 				  				
   			</tr> 	
       </tbody> 
   </table>
 </div>
</form>
