<div style="padding:10px;">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <div class="panel-title">会议名称：<span style="font-size:18px;">{{dataVO.TITLE}}</span></div>
	  </div>
	  <div class="panel-body">
	      <ul class="list-group" >
	                  <li  class="list-group-item onlineTab tab_speak" ng-click="onlineTabclick(0);"><a href=""><span class="glyphicon glyphicon-blackboard"></span> <span class="coursedetail_online"><!-- 说课 --></span><span class="coursedetail_offline" style="display:none">会议说明</span></a> <span class="glyphicon glyphicon-chevron-right" style="float: right;color:blue;"></span></li>
					  <li  class="list-group-item onlineTab tab_study" ng-click="onlineTabclick(1);"><a href=""><span class="glyphicon glyphicon-duplicate"></span> 会议资料</a><span class="glyphicon glyphicon-chevron-right" style="float: right;color:blue;"></span></li>
					  <li  class="list-group-item onlineTab tab_notice" ng-click="onlineTabclick(2);"><a href=""><span class="glyphicon glyphicon-envelope"></span> 通知公告</a><span class="glyphicon glyphicon-chevron-right" style="float: right;color:blue;"></span></li>
					  <li  class="list-group-item onlineTab tab_toupiao" ng-click="onlineTabclick(6);"><a href=""><span class="glyphicon glyphicon-pencil"></span> 投票问卷</a><span class="glyphicon glyphicon-chevron-right" style="float: right;color:blue;"></span></li>
					 <!--  <li  class="list-group-item onlineTab tab_point" ng-click="onlineTabclick(4);"><a href=""><span class="glyphicon glyphicon-scissors"></span> 切片评课</a><span class="glyphicon glyphicon-chevron-right" style="float: right;color:blue;"></span></li>
					  <li  class="list-group-item onlineTab tab_WEB" ng-click="onlineTabclick(5);"><a href=""><span class="glyphicon glyphicon-facetime-video"></span> WEB视频课堂</a><span class="glyphicon glyphicon-chevron-right" style="float: right;color:blue;"></span></li> -->
	      </ul>
	  </div>
	</div>
</div>
	  
