
<!-- 添加填空题 -->
<form class="form-horizontal form-horizontal-condensed" >
		<div>
			<span style="padding-left:6px;font-weight: bold; font-size: 14px; line-height: 27px; font-family: "微软雅黑","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;">题目标题</span>
			<input style="margin-left:430px" type="checkbox" name="dataPk" ng-checked="{{form.SURVEY_TITLE_QUE}}" ng-model="form.SURVEY_TITLE_QUE" />&nbsp;必答题
		</div>
		<!-- UEditor富文本框 -->
		<div id="titlename" name="titlename" type="text/plain" style="width:560px;height:160px;"></div>
		
		<div style="float:right;padding:10px;">
			<a  ng-click="addContent();">插入填空</a>
		</div>
</form>