<!-- 投票复制 -->
<form class="form-horizontal form-horizontal-condensed" >
		<div>
			<span style="padding-left:6px;font-weight: bold; font-size: 14px; line-height: 27px; font-family: "微软雅黑","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;">竞选项目</span>
			<span style="margin-right:10px;float:right;"><input type="checkbox" name="dataPk" ng-true-value="true" ng-false-value="false" ng-model="form.SURVEY_TITLE_QUE" /> 必答题</span>
			<span style="float:right;margin-right:10px;" class="pictxt"><a style="font-size:12px; text-decoration: none;" href="" ng-click="showEditor();"><span class="glyphicon glyphicon-picture"></span> 图文信息</a></span>
			<span style="float:right;margin-right:10px; display:none;" class="txt"><a style="font-size:12px; text-decoration: none;" href="" ng-click="hideEditor();"><span class="glyphicon glyphicon-text-width"></span> 文本信息</a></span>
		</div>
		<!-- UEditor富文本框 -->
		<div id="titlename" name="titlename" type="text/plain" style="width:560px;height:112px;" hidden="yes"></div>
		<div class="txtFiled"><textarea style="width:560px;height:60px;border:1px solid #d4d4d4;border-radius:4px;overflow: hidden;"></textarea></div>

		<div class="panel panel-info" style="margin-top:15px;margin-right:8px;border:1px solid #d4d4d4">
			 <table class="table table-condensed">
			 	<thead>
					<tr>
						<th>参选人员</th>
						<th>操作</th>				
					</tr>
				</thead>
	         	<tbody>
		   			<tr ng-repeat="content in contentList" ng-switch on="{{form.SURVEY_TYPE_ID}}" on-finish-render-filters>
						<td style="vertical-align: middle;border-top: 0px;">
						    <input type="text" class="form-control" style="width:150px;" ng-model="content.SURVEY_CONTENT_CHOOSE">
						</td>
						<td style="vertical-align: middle;border-top: 0px;" ng-switch-default>	
							<a  ng-click="addContent();"><img  src="assets/img/designqpic2.png" title="新增人员"  /></a>
							<a href=""  ng-click="removeContent(content);"><img src="assets/img/designqpic.png" title="删除人员"  /></a>
							<a href=""  ng-click="updata($index)"><img src="assets/img/designqpic3.png" title="上移一行"  /></a>
							<a href=""  ng-click="downdata($index)"><img src="assets/img/designqpic4.png" title="下移一行" /></a>
						</td>
		   			</tr>
	         	</tbody>
	      </table>
	 </div>
 </form>