<div>
    <ul class="nav nav-tabs" >
	  <li role="presentation" class="onlineTab tab_all active" ng-click="onlineTabclick(0);" style="font-size:13px;"><a href=""><span class="glyphicon glyphicon-list"> 全部</span></a></li>
	  <li role="presentation" class="onlineTab tab_offline" ng-click="onlineTabclick(1);" style="font-size:13px;"><a href=""><span class="glyphicon glyphicon-menu-hamburger"></span> 校内</a></li>
<!-- 	  <li role="presentation" class="onlineTab tab_online" ng-click="onlineTabclick(2);" style="font-size:13px;"><a href=""><span class="glyphicon glyphicon-menu-hamburger"></span> 校际</a></li>
 -->	  <li role="presentation" class="onlineTab tab_online" ng-click="onlineTabclick(3);" style="font-size:13px;"><a href=""><span class="glyphicon glyphicon-menu-hamburger"></span> 区级</a></li>
    </ul>

				 <table class="table">  
				      <tbody ng-switch on="page.current_num">
				      	<tr ng-switch-when="0">
				      		<td colspan="100" class="NoSelectHistory">查询无记录</td>
				      	</tr>
				        <tr ng-repeat='data in dataList'>
				          <td>
				               <table width="100%">
							   <tr>
									<!-- <td rowspan="4" style="width:80px;height:90px;padding-right: 10px;" ><a href="" ng-click="trClick(row.STUDY_WEIKE_PK,row.SECTION_ID,row.THEME_ID,row.CREATE_BY);"><img  class="img-thumbnail" ng-src="{{row.IDENTIFIER}}" style="width:70px;height:90px;"></a></td> -->	    
							 		<td valign="middle" style="font-size:18px;">{{data.TITLE}}</td>
							 	</tr>

							 	<tr>
							 		<td valign="middle" valign="middle" style="color:#888;">组织教师：{{data.COURSESPEAKER_TEXT }} &nbsp;&nbsp;学科：{{data.FK_SUBJECT_TEXT}}</td>
							 	</tr>
							 	<tr>
							 		<td valign="middle" valign="middle" style="color:#888;">
							 		会议级别:
								 	    <span ng-switch on="data.COURSELEVEL">
								          	<span ng-switch-when="1">校内</span>
								          	<span ng-switch-when="2">校际</span>
										  	<span ng-switch-when="3">区级</span>
											<span ng-switch-default>{{data.COURSELEVEL}}</span>
								 		</span>
							 		 &nbsp;&nbsp;活动方式：{{data.ACTIVITY_NAME}}
							 		</td>
							 	</tr>
							 	<tr>
							 		<td valign="middle" valign="middle" style="color:#888;">
							 			开始时间：{{data.CLASS_START_TIME }}
							 		</td>
							 	</tr>
							 	<tr>
							 		<!-- <td valign="middle" style="color: #888;" align="right">
										<button type="button" class="btn btn-info btn-sm" ng-click="scoreClick(data);"><span class="glyphicon glyphicon-check"  aria-hidden="true"></span> 评分 </button>
							 		</td> -->
							 	</tr>
							 </table>
				          </td>

				         
				        </tr>
				       
				      </tbody>
				      <tfoot>
				      	<tr>
				      		<td colspan="100">
				      		<div ng-include="'html/page.html'"></div>
							</td>
				      	</tr>
				      </tfoot>
				    </table>
 </div>
   

