<div class="div_course all_speakcourse" style="padding:8px;">
		          <div class="div_class_speakcourse" id="div_class_speakcourse" ng-bind-html="SynopsisVO.SYNOPSIS|trustHtml">
		                          暂无描述！
		          </div>
		          
		         <!--  <div class="insert_shuoke" style="display:none">
		          	<br/>
		               <a style="cursor:pointer;" href="" ng-click="addSpeakCourse();"  class="add_shuoke"><span style="color:blue;" class="coursedetail_online">添加“说课”</span><span style="color:blue;display:none" class="coursedetail_offline">添加会议说明</span></a>
		          </div>
		          <div class="update_shuoke" style="display:none">
		               <a style="cursor:pointer;" href="" ng-click="updateSpeakCourse();"><span style="color:blue;" class="coursedetail_online">修改“说课”</span><span style="color:blue;display:none" class="coursedetail_offline">修改会议说明</span></a>
		          </div> -->
</div>