<table style="width: 100%;border-bottom: 1px solid #e7e7e7;" >
  <tr>
  	<td style="text-align: center;padding-top: 15px;padding-bottom: 5px;">
  		<img src="assets/img/pdedu_logo.png" style="height: 64px;width: auto;" />
  	</td>
  </tr>
</table>

<div id="carousel-example-captions" style="min-height: 240px;" class="carousel slide" data-interval="10000000000000" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="min-height: 400px;">
        <div class="carousel-caption" style="top: 0px;">
			<div class="row" >
			    <div class="col-xs-4 col-md-3" style="text-align: center;color: #fff;margin-top: 15px;margin-bottom: 10px;">
					<div class="img-circle" ng-click="clickMenuMy()"  style="border: 1px solid #d9534f;width: 72px;height: 72px;padding-top: 23px;margin-left: auto;margin-right: auto;">
					  <a style="text-decoration: none;text-align: center;color:#d9534f" >
					  <span style="font-size: 24px;" class="glyphicon glyphicon-user"  aria-hidden="true"></span>
					  </a>
					</div>
					<div style="text-shadow:none;color:#646569;font-size: 13px;line-height: 30px;width: 72px;margin-left: auto;margin-right: auto;">我的会议</div>
				</div>
				
				<!-- <div class="col-xs-4 col-md-3" style="text-align: center;color: #fff;margin-top: 15px;margin-bottom: 10px;">
					<div class="img-circle" ng-click="clickMenuNotice()"  style="border: 1px solid #5cb85c;width: 72px;height: 72px;padding-top: 23px;margin-left: auto;margin-right: auto;">
					  <a style="text-decoration: none;text-align: center;color:#5cb85c" >
					  <span style="font-size: 24px;" class="glyphicon glyphicon-bullhorn"  aria-hidden="true"></span>
					  </a>
					</div>
					<div style="text-shadow:none;color:#646569;font-size: 13px;line-height: 30px;width: 82px;margin-left: auto;margin-right: auto;">听课评课通知</div>
				</div> -->
				
				<div class="col-xs-4 col-md-3" style="text-align: center;color: #fff;margin-top: 15px;margin-bottom: 10px;">
					<div class="img-circle" ng-click="clickMenuSchool()"  style="border: 1px solid #00bcd4;width: 72px;height: 72px;padding-top: 23px;margin-left: auto;margin-right: auto;">
					  <a style="text-decoration: none;text-align: center;color:#00bcd4;" >
					  <span style="font-size: 24px;" class="glyphicon glyphicon-user"  aria-hidden="true"></span>
					  </a>
					</div>
					<div style="text-shadow:none;color:#646569;font-size: 13px;line-height: 30px;width: 72px;margin-left: auto;margin-right: auto;">校所有会议</div>
				</div>
			    
			    
			    <div class="col-xs-4 col-md-3" style="text-align: center;color: #fff;margin-top: 15px;margin-bottom: 10px;">
					<div class="img-circle" ng-click="clickMenuArea()"  style="border: 1px solid #f0ad4e;width: 72px;height: 72px;padding-top: 23px;margin-left: auto;margin-right: auto;">
					  <a style="text-decoration: none;text-align: center;color:#f0ad4e" >
					  <span style="font-size: 24px;" class="glyphicon glyphicon-cloud"  aria-hidden="true"></span>
					  </a>
					</div>
					<div style="text-shadow:none;color:#646569;font-size: 13px;line-height: 30px;width: 72px;margin-left: auto;margin-right: auto;">区所有会议</div>
				</div>
			    
			    
				<div class="col-xs-4 col-md-3" style="text-align: center;color: #fff;margin-top: 15px;margin-bottom: 10px;">
					<div class="img-circle" ng-click="clickMenuQRCode()"  style="border: 1px solid #337ab7;width: 72px;height: 72px;padding-top: 23px;margin-left: auto;margin-right: auto;">
					  <a style="text-decoration: none;text-align: center;color:#337ab7;" >
					  <span style="font-size: 24px;" class="glyphicon glyphicon-qrcode"  aria-hidden="true"></span>
					  </a>
					</div>
					<div style="text-shadow:none;color:#646569;font-size: 13px;line-height: 30px;width: 72px;margin-left: auto;margin-right: auto;">二维码签到</div>
				</div>
				
				<div class="col-xs-4 col-md-3" style="text-align: center;color: #fff;margin-top: 15px;margin-bottom: 10px;">
					<div class="img-circle" ng-click="clickMenuSignin()"  style="border: 1px solid #5bc0de;width: 72px;height: 72px;padding-top: 23px;margin-left: auto;margin-right: auto;">
					  <a style="text-decoration: none;text-align: center;color:#5bc0de" >
					  <span style="font-size: 24px;" class="glyphicon glyphicon-list-alt"  aria-hidden="true"></span>
					  </a>
					</div>
					<div style="text-shadow:none;color:#646569;font-size: 13px;line-height: 30px;width: 72px;margin-left: auto;margin-right: auto;">签到确认</div>
				</div>
				
					<!-- <div class="col-xs-4 col-md-3" style="text-align: center;color: #fff;margin-top: 15px;margin-bottom: 10px;">
					<div class="img-circle" ng-click="clickMenuteachEvaluate()"  style="border: 1px solid #5cb85c;width: 72px;height: 72px;padding-top: 23px;margin-left: auto;margin-right: auto;">
					  <a style="text-decoration: none;text-align: center;color:#5cb85c" >
					  <span style="font-size: 24px;" class="glyphicon glyphicon-check"  aria-hidden="true"></span>
					  </a>
					</div>
					<div style="text-shadow:none;color:#646569;font-size: 13px;line-height: 30px;width: 82px;margin-left: auto;margin-right: auto;">课堂教学评价</div>
				</div>
 -->
			</div>
        </div>
      </div>
    </div>
</div>

<div style="text-align: center;border-top: 1px solid #e7e7e7;padding-top: 5px;">
			<address>
			  
			  <div style="margin-top: 5px;">
			  上海市浦东区教育局 版权所有
			  </div>

			</address>
</div>